body {
  font-family: "Montserrat", sans-serif;
  color: #131313;
  background-color: #84a178;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #131313;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-hidden {
  overflow: hidden;
}

/* header */
.header {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (max-width: 319px) {
  .header {
    width: 100wv;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
}

.header__mobile {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__mobile {
    gap: 440px;
    justify-content: center;
    align-items: center;
  }
}

.burger {
  fill: #ffffff;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  background-color: #F8D24E;
  width: 152px;
  height: 42px;
  border-radius: 10px;
  border: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button:hover {
  background-color: #0A8817;
}
.header__button:focus {
  background-color: #0A8817;
  color: #fff;
  fill: #fff;
}
.header__button:disabled {
  background-color: #ABABAB;
}
@media screen and (max-width: 767px) {
  .header__button {
    display: none;
  }
}

.header__svg {
  padding: 0;
}

.container-advantages {
  padding-top: 50px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .container-advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-advantages {
    padding-top: 65px;
    padding-bottom: 75px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    width: 367px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item--first {
    margin-bottom: 28px;
  }
  .advantages-list__item--second {
    margin-bottom: 22px;
  }
}
.advantages-list__tittle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .advantages-list__tittle {
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 1.2189583333;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__tittle {
    font-size: 58px;
    line-height: 1.2189655172;
  }
}

.advantages-list__tittle::before {
  content: " ";
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__tittle::before {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__tittle::before {
    margin-bottom: 40px;
  }
}

.advantages-list__tittle--first::before {
  background-image: url(/src/images/advantages/cow/cow_50.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__tittle--first::before {
    background-image: url(/src/images/advantages/cow/cow_100.png);
  }
}

.advantages-list__tittle--second::before {
  background-image: url(/src/images/advantages/weight/weight_50.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__tittle--second::before {
    background-image: url(/src/images/advantages/weight/weight_100.png);
  }
}

.advantages-list__tittle--third::before {
  background-image: url(/src/images/advantages/ice/ice_50.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__tittle--third::before {
    background-image: url(/src/images/advantages/ice/ice_100.png);
  }
}

.advantages-list__description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6666666667;
  text-align: center;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .advantages-list__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__description {
    font-size: 16px;
    line-height: 1.76;
  }
}

@media screen and (max-width: 7670px) {
  .contacts {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.contacts__list {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .contacts__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 32px;
  }
}

.contacts__item {
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    padding: 40px 24px;
    flex-basis: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    padding: 40px;
    flex-basis: 368px;
    background-color: #ffffff;
  }
}

.contacts__agency {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #f8d24e;
  border-radius: 4px;
  padding: 4px 22px;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__agency {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    padding: 4px 13px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__agency {
    padding: 4px 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__agency--padding {
    padding: 4px 10px;
  }
}

.contacts__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__city {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__city {
    font-size: 16px;
    line-height: 1.875;
  }
}

.contacts__address {
  position: relative;
  margin-bottom: 48px;
}
.contacts__address::after {
  content: "";
  display: inline-block;
  left: 0;
  bottom: -24px;
  position: absolute;
  width: 216px;
  height: 1px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__address::after {
    bottom: -32px;
    width: 176px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address::after {
    width: 288px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__address {
    margin-bottom: 64px;
  }
}

.address__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #d6936d;
  font-style: normal;
  flex-basis: 216px;
}
.address__link:hover, .address__link:focus {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media screen and (min-width: 768px) {
  .address__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .address__link {
    font-size: 16px;
    line-height: 1.8125;
  }
}

@media screen and (max-width: 767px) {
  .address__link--width {
    max-width: 190px;
  }
}
@media screen and (min-width: 768px) {
  .address__link--width {
    max-width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .address__link--width {
    max-width: 262px;
  }
}

.work-time__day,
.work-time__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
}
@media screen and (min-width: 768px) {
  .work-time__day,
.work-time__time {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .work-time__day,
.work-time__time {
    font-size: 16px;
    line-height: 1.875;
  }
}

.work-time__time {
  color: #ababab;
  text-transform: uppercase;
}

.work-time__list {
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.work-time__list::after {
  content: "";
  display: inline-block;
  left: 0;
  bottom: -24px;
  position: absolute;
  width: 216px;
  height: 1px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .work-time__list::after {
    bottom: -32px;
    width: 176px;
  }
}
@media screen and (min-width: 1200px) {
  .work-time__list::after {
    width: 288px;
  }
}
@media screen and (min-width: 768px) {
  .work-time__list {
    margin-bottom: 64px;
  }
}

.communication__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.communication__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5833333333;
}
@media screen and (min-width: 768px) {
  .communication__link {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .communication__link {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer {
  padding-top: 30px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
}

.footer__text {
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__text {
    margin-bottom: 32px;
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    width: 510px;
  }
}

.footer__uppertitle {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.2222222222;
}
@media screen and (min-width: 768px) {
  .footer__uppertitle {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__uppertitle {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.footer__undertitle {
  font-size: 34px;
  line-height: 1.2058823529;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer__undertitle {
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__undertitle {
    font-size: 58px;
    line-height: 1.224137931;
  }
}

@media screen and (min-width: 768px) {
  .footer__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__blocks {
    align-items: baseline;
    border-bottom: 1px solid #e1e1e1;
  }
}

@media screen and (min-width: 768px) {
  .footer__second-block {
    width: 285px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__second-block {
    width: 338px;
  }
}

.footer__list {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    margin-bottom: 40px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #f8d24e;
  fill: #84a178;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  fill: #fcfcfc;
}

.footer__contact {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.8571428571;
  }
}

.footer__phone {
  color: #fcfcfc;
}

@media screen and (max-width: 1199px) {
  .footer__copyright-container {
    border-top: 1px solid #e1e1e1;
    width: 100%;
  }
}

.footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 150px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 1.8571428571;
    letter-spacing: 0.02em;
    width: 298px;
  }
}

.section__products {
  background-image: url(../images/background/mobile/background_mobile_885.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__products {
    background-image: url(../images/background/mobile/background_mobile_1770.png);
  }
}
@media screen and (min-width: 768px) {
  .section__products {
    background-image: url(../images/background/tablet/background_tablet_963.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__products {
    background-image: url(../images/background/tablet/background_tablet_1926.png);
  }
}
@media screen and (min-width: 1200px) {
  .section__products {
    background-image: url(../images/background/desktop/background_desktop_1300.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__products {
    background-image: url(../images/background/desktop/background_desktop_2600.png);
  }
}

.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
  }
}

.products__title {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    margin-bottom: 303px;
  }
}

.products__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products__name {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__name {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.products__info {
  font-size: 14px;
  line-height: 1.7857142857;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 1200px) {
  .products__info {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  height: 420px;
  padding: 123px 40px 16px 40px;
  border-radius: 24px;
  margin-bottom: 168px;
  background-color: #aec6a5;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1019607843);
}
.products__item:nth-child(2) {
  background-color: #efd478;
}
.products__item:last-child {
  background-color: #d6936d;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 32px) / 3);
    height: 428px;
    margin-bottom: 0;
    padding: 108px 26px 12px 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    flex-basis: calc((100% - 58px) / 3);
    height: 536px;
    padding: 165px 64px 60px 64px;
  }
}

.products__circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media screen and (min-width: 1200px) {
  .products__circle {
    width: 302px;
    height: 302px;
    top: -60%;
  }
}

.products__circle---green {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.2509803922);
}
.products__circle---green::before {
  content: "";
  position: absolute;
  top: -11;
  left: 0;
  background-image: url(../images/products/tablet-mobile/1/1_200.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__circle---green::before {
    background-image: url(../images/products/tablet-mobile/1/1_400.png);
  }
}
@media screen and (min-width: 768px) {
  .products__circle---green::before {
    top: -12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__circle---green::before {
    background-image: url(../images/products/desktop/1/1_302.png);
    top: -16px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__circle---green::before {
    background-image: url(../images/products/desktop/1/1_604.png);
  }
}

.products__circle--yellow {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.2509803922);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.products__circle--yellow::before {
  content: "";
  position: absolute;
  top: -11;
  left: 0;
  background-image: url(../images/products/tablet-mobile/2/2_200.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__circle--yellow::before {
    background-image: url(../images/products/tablet-mobile/2/2_400.png);
  }
}
@media screen and (min-width: 768px) {
  .products__circle--yellow::before {
    top: -12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__circle--yellow::before {
    background-image: url(../images/products/desktop/2/2_302.png);
    top: -16px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__circle--yellow::before {
    background-image: url(../images/products/desktop/2/2_604.png);
  }
}

.products__circle--coral {
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.products__circle--coral::before {
  content: "";
  position: absolute;
  top: -11;
  left: 0;
  background-image: url(../images/products/tablet-mobile/3/3_200.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__circle--coral::before {
    background-image: url(../images/products/tablet-mobile/3/3_400.png);
  }
}
@media screen and (min-width: 768px) {
  .products__circle--coral::before {
    top: -12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__circle--coral::before {
    background-image: url(../images/products/desktop/3/3_302.png);
    top: -16px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__circle--coral::before {
    background-image: url(../images/products/desktop/3/3_604.png);
  }
}

.products__btn {
  border: none;
  background-color: inherit;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .products {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    gap: 29px;
  }
}

.products-modal__window {
  position: absolute;
  width: 280px;
  height: 991px;
  padding: 28px 28px 29px 28px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}

.products-modal {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-modal__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 83px;
  text-align: center;
}

.products-modal__item {
  position: relative;
  width: 132px;
  height: 136px;
  padding-top: 96px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 82px;
}
.products-modal__item:first-child {
  background-color: transparent;
}
.products-modal__item:last-child {
  background-color: transparent;
  margin-bottom: 0;
}
.products-modal__item--green {
  border: 2px solid #96af8c;
}
.products-modal__item--yellow {
  border: 2px solid #efd478;
}
.products-modal__item--coral {
  border: 2px solid #d6936d;
}

.products-modal__circle {
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.products-modal_circle--green {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.2509803922);
}
.products-modal_circle--green::before {
  content: "";
  position: absolute;
  top: -7;
  left: 0;
  background-image: url(../images/products/tablet-mobile/1/1_200.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 132px;
  height: 132px;
}

.products-modal_circle--coral {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2509803922);
}
.products-modal_circle--coral::before {
  content: "";
  position: absolute;
  top: -7;
  left: 0;
  background-image: url(../images/products/tablet-mobile/3/3_200.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 132px;
  height: 132px;
}

.products-modal_circle--yellow {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.2509803922);
}
.products-modal_circle--yellow::before {
  content: "";
  position: absolute;
  top: -7;
  left: 0;
  background-image: url(../images/products/tablet-mobile/2/2_200.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 132px;
  height: 132px;
}

.products-modal__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-form__input {
  position: relative;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  height: 32px;
  width: 100%;
  margin-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.4;
  color: inherit;
  resize: none;
}
.products-form__input--comment {
  margin-bottom: 0;
  height: 65px;
  padding-top: 8px;
}
.products-form__input:not(:-moz-placeholder-shown) + .products-form__label {
  display: none;
}
.products-form__input:not(:-ms-input-placeholder) + .products-form__label {
  display: none;
}
.products-form__input:not(:placeholder-shown) + .products-form__label {
  display: none;
}

.products-form__item {
  position: relative;
}

.products-form__label {
  position: absolute;
  top: 8;
  left: 12;
  font-size: 12px;
  line-height: 1.4;
}

.products-form__list {
  margin-bottom: 26px;
}

.products-form__btn {
  font-family: inherit;
  width: 114px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
.products-form__btn:hover {
  background-color: #0a8817;
}
.products-form__btn:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}

.products-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  top: 12;
  right: 12;
}

.about__container {
  padding-top: 61px;
  padding-bottom: 64px;
}

.about__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about__thumb {
  position: relative;
  width: 279px;
  height: 279px;
  background-color: #F8D24E;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
  margin-bottom: 62px;
}

.about__cow {
  position: absolute;
  top: 22px;
  width: 279px;
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.21;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
}

.about__titel {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  width: 200px;
}

.about__values {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.1;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  width: 220px;
  margin-bottom: 4px;
}

.about__recipes {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  width: 220px;
  margin-bottom: 10px;
}

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 164px;
  min-height: 42px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background: #F8D24E;
}

.about__btn:hover {
  background-color: #0a8817;
  color: #000000;
  border: 2px solid #0a8817;
}

.about__btn:focus {
  background-color: #0a8817;
  color: #ffffff;
  border: 2px solid #0a8817;
  fill: #ffffff;
}

.about__btn--text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  margin-right: 4px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: 0.3s all;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.locations-modal,
.franchise-modal {
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 32px 60px;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .locations-modal,
.franchise-modal {
    padding: 28px;
  }
}

.locations-modal {
  width: 568px;
  height: 458px;
}
@media screen and (max-width: 767px) {
  .locations-modal {
    width: 280px;
    height: 365px;
  }
}

.franchise-modal {
  width: 568px;
  height: 668px;
  padding: 32px 50px;
}
@media screen and (max-width: 767px) {
  .franchise-modal {
    width: 280px;
    height: 100%;
  }
}

.modal__cross {
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #131313;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .modal__cross {
    width: 20px;
    height: 20px;
  }
}

.modal__title {
  font-family: "Seymour One", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .modal__title {
    font-size: 16px;
    line-height: 1.5 24px;
  }
}

.modal__text {
  font-size: 16px;
  line-height: 1.375;
  margin-top: 24px;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .modal__text {
    font-size: 14px;
    line-height: 1.4285714286;
    margin-top: 20px;
  }
}

.franchise__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .franchise__form {
    margin-top: 24px;
  }
}

.modal-form__item {
  position: relative;
}

.modal-form__label {
  position: absolute;
  top: 11px;
  left: 66px;
  font-size: 14px;
  line-height: 1.4285714286;
}
@media screen and (max-width: 767px) {
  .modal-form__label {
    top: 8px;
    left: 12px;
    font-size: 12px;
    line-height: 1.4166666667;
  }
}

.modal-form__input,
.modal-form__textarea {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 16px;
  min-width: 368px;
  font-family: inherit;
}
.modal-form__input:focus + .modal-form__label,
.modal-form__textarea:focus + .modal-form__label {
  display: none;
}
.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__label, .modal-form__textarea:not(:-moz-placeholder-shown) + .modal-form__label {
  display: none;
}
.modal-form__input:not(:-ms-input-placeholder) + .modal-form__label, .modal-form__textarea:not(:-ms-input-placeholder) + .modal-form__label {
  display: none;
}
.modal-form__input:not(:placeholder-shown) + .modal-form__label,
.modal-form__textarea:not(:placeholder-shown) + .modal-form__label {
  display: none;
}
@media screen and (max-width: 767px) {
  .modal-form__input,
.modal-form__textarea {
    min-width: 224px;
    padding: 8px 12px;
  }
}

.modal-form__textarea {
  min-width: 368px;
  height: 84px;
}
@media screen and (max-width: 767px) {
  .modal-form__textarea {
    min-width: 224px;
    height: 64px;
  }
}

textarea {
  resize: none;
}

.btn-locations,
.btn-franchise {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  background: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  border-color: transparent;
  margin-top: 32px;
  transition: 250ms linear;
}
@media screen and (max-width: 767px) {
  .btn-locations,
.btn-franchise {
    margin-top: 24px;
    font-size: 12px;
    line-height: 1.25;
  }
}
.btn-locations:hover,
.btn-franchise:hover {
  background-color: #0a8817;
}
.btn-locations:focus,
.btn-franchise:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}

.modal-location__map {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .modal-location__map {
    margin-top: 20px;
    width: 224px;
    height: 199px;
  }
}

.button__locations {
  background-color: #f8d24e;
  border-color: transparent;
  padding: 10px 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  transition: 250ms linear;
}
.button__locations:hover {
  background-color: #0a8817;
}
.button__locations:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.button__locations:focus .button__icon {
  fill: #fcfcfc;
}

.button__franchise {
  padding: 10px 53px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  color: #000000;
  transition: 250ms linear;
}
.button__franchise:hover {
  border-color: #0a8817;
}
.button__franchise:focus {
  border-color: #0a8817;
  color: #fcfcfc;
}
.button__franchise:focus .button__icon {
  fill: #fcfcfc;
}

.button {
  border-radius: 10px;
}

.button__list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .button__list {
    margin-top: 40px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .button__list {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .button__item {
    margin-left: auto;
    margin-right: auto;
  }
}

.button__icon {
  transition: 250ms linear;
}

.background {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 7670px) {
  .background {
    background-image: url("../images/background/mobile/background_mobile_885.png");
  }
}
@media screen and (max-width: 7670px) and (min-device-pixel-ratio: 2), screen and (max-width: 7670px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 7670px) and (min-resolution: 192dpi), screen and (max-width: 7670px) and (min-resolution: 2dppx) {
  .background {
    background-image: url("../images/background/mobile/background_mobile_1770.png");
  }
}
@media screen and (min-width: 768px) {
  .background {
    background-image: url("../images/background/tablet/background_tablet_963.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .background {
    background-image: url("../images/background/tablet/background_tablet_1926.png");
  }
}
@media screen and (min-width: 1200px) {
  .background {
    background-image: url("../images/background/desktop/background_desktop_1300.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .background {
    background-image: url("../images/background/desktop/background_desktop_2600.png");
  }
}

.nav-menu {
  z-index: 10;
  position: fixed;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  overflow-y: scroll;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu--open {
  transform: translateX(0);
}
@media screen and (max-width: 767.5px) {
  .nav-menu {
    top: 60px;
    background-color: #84a178;
    padding: 39px 32px 64px;
    height: 568px;
  }
}
@media screen and (min-width: 768px) {
  .nav-menu {
    top: 0;
    background-color: #97af8d;
    padding: 20px 32px 64px;
    height: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-menu {
    display: none;
  }
}

.navigation {
  font-weight: 700;
}
@media screen and (max-width: 767.5px) {
  .navigation {
    font-size: 32px;
    line-height: 1.22;
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    font-size: 48px;
    line-height: 1.23;
  }
}
@media screen and (max-width: 767.5px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.navigation__link {
  color: #fcfcfc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #131313;
}

.upper {
  margin-bottom: 76px;
}
@media screen and (max-width: 767.5px) {
  .upper {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.burger-toggle {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}
.burger-toggle:hover, .burger-toggle:focus {
  fill: #f8d24e;
}
.burger-toggle:active {
  transform: scale(1.5);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-toggle .cross {
  display: none;
}
.burger-toggle--enabled .cross {
  display: block;
}
.burger-toggle--enabled .burger {
  display: none;
}

@media screen and (max-width: 767.5px) {
  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: #f8d24e;
    border: transparent;
    border-radius: 10px;
    width: 152px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-button__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
.nav-button:hover {
  background-color: #0a8817;
}
.nav-button:focus {
  background-color: #0a8817;
  color: #ffffff;
}

.hero__container {
  position: relative;
  padding-top: 38px;
  padding-bottom: 236px;
  background-image: url("../images/hero/hero-dots/dots_mobile.png");
  background-repeat: no-repeat;
  background-position: bottom 0px center;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-bottom: 24px;
    background-image: url("../images/hero/hero-dots/tablet@1x.png");
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-bottom: 103px;
    background-image: url("../images/hero/hero-dots/dots_1200.png");
  }
}

.hero__flex-box {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .hero__flex-box {
    margin-bottom: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__flex-box {
    margin-bottom: 109px;
  }
}

.hero__title {
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 24px;
    max-width: 247px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 28px;
    max-width: 367px;
    font-size: 38px;
    line-height: 48px;
  }
}

.hero__title-part {
  font-size: 34px;
  letter-spacing: 0em;
}
@media screen and (min-width: 1200px) {
  .hero__title-part {
    font-size: 38px;
    line-height: 48px;
  }
}

.hero__link-list {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .hero__link-list {
    gap: 34px;
  }
}

.hero__products-link {
  padding: 11px 24px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1), border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__products-link:hover {
  border-color: #0a8817;
}
.hero__products-link:focus {
  border-color: #0a8817;
}
@media screen and (min-width: 1200px) {
  .hero__products-link:focus {
    color: #fcfcfc;
    border-color: #0a8817;
  }
}
.hero__products-link:disabled {
  border-color: #ababab;
}
@media screen and (min-width: 1200px) {
  .hero__products-link {
    padding: 12px 32px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
  }
}

.hero__made-link {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f8d24e;
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__made-link:hover {
  color: #0a8817;
}
.hero__made-link:focus {
  color: #fcfcfc;
}
.hero__made-link:disabled {
  color: #ababab;
}
@media screen and (min-width: 1200px) {
  .hero__made-link:disabled {
    border-color: #ababab;
  }
}
@media screen and (min-width: 768px) {
  .hero__made-link {
    min-width: 114px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__made-link {
    font-size: 14px;
    line-height: 17px;
  }
}

.hero__benefits {
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .hero__benefits {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__benefits {
    margin-top: 8px;
  }
}

.hero__benefits-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__benefits-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.hero__benefits-numbers {
  margin-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .hero__benefits-numbers {
    font-size: 46px;
    line-height: 56px;
  }
}

.hero__benefits-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .hero__benefits-name {
    font-size: 14px;
    line-height: 17px;
  }
}

.hero__text {
  max-width: 139px;
  margin-left: 184px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .hero__text {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 201px;
    margin-left: 241px;
    font-size: 14px;
    line-height: 20px;
  }
}

.hero__text-arrow {
  display: block;
  margin-top: 12px;
  fill: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .hero__text-arrow {
    margin-top: 24px;
  }
}

.hero__fun-ice {
  position: absolute;
  bottom: 0;
  left: 83px;
}
@media screen and (min-width: 768px) {
  .hero__fun-ice {
    left: 408px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__fun-ice {
    left: 652px;
  }
}

.hero__lot-ice {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .hero__lot-ice {
    display: block;
    left: 32px;
    bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__lot-ice {
    display: block;
    left: 16px;
    bottom: 65px;
  }
}/*# sourceMappingURL=main.css.map */