<section class="about">
<div class="about__container container">
    <span class="about__label">tradition and love </span>
    <h2 class="about__titel">how it’s made?</h2>

<div class="about__thumb">
    <img
    class="about__cow" 
    sizes="(min-width: 319px) 279px"
    src="./images/cow/mobile/cow_279.png" 
    alt="cow"
    width="279">
</div>

    <p class="about__values"> Ice is a place where you will become not only a l
        ittle happier, but also healthier. Health is the main value for us, 
        and we follow it when creating our handmade desserts. </p>

    <p class="about__recipes">We use traditional recipes and 100% natural ingredients. 
        Our products are so natural that they can be given to 
        children from the age of three years. Sweets lovers can expect 55 types 
        of ice cream, 15 types of coffee and 23 milkshakes. </p>

     <button type="button" 
            class="about__btn">
            <span class="about__btn--text">Read more</span> 
            <svg class="about__btn--img" width="12" height="12">
       <use href="./images/svg/symbol-defs.svg#bird"></use>
     </svg>
        </button>   

</div>
</section>