<section class="advanteges">
  <div class="container">
    <h2 class="visually-hidden">advanteges</h2>
    <ul class="advanteges-list">
      <li class="advanteges-list__item">
        <h3 class="advanteges-list__tittle">721</h3>
        <p class="advanteges-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advanteges-list__item">
        <h3 class="advanteges-list__tittle">16kg</h3>
        <p class="advanteges-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advanteges-list__item">
        <h3 class="advanteges-list__tittle">84</h3>
        <p class="advanteges-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
