<section class="advantages">
  <div class="container container-advantages">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item advantages-list__item--first">
        <h3 class="advantages-list__tittle advantages-list__tittle--first">
          721
        </h3>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--second">
        <h3 class="advantages-list__tittle advantages-list__tittle--second">
          16kg
        </h3>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--third">
        <h3 class="advantages-list__tittle advantages-list__tittle--third">
          84
        </h3>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
