<section class="section-customer-reviews">
  <div class="container customers-container">
    <img
      class="customer-img"
      srcset="
        ./images/cast-rev/lady/lady_85.jpg,
        ./images/cast-rev/lady/lady_170.jpg
      "
      src="./images/cast-rev/lady/lady_85.jpg "
      alt="lady"
    />
    <div class="customer__text-container">
      <p class="customer-text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="customer-city">Emily, Los Angeles</p>
  </div>
</section>
