<footer class="footer">
  <div class="container footer__blocks">
    <div class="footer__text element-animation">
      <p class="footer__uppertitle">homemade ice cream made</p>
      <p class="footer__undertitle">with passion</p>
    </div>

    <div class="footer__second-block element-animation">
      <ul class="footer__list">
        <li>
          <a
            class="footer__link"
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="GitHub"
          >
            <svg class="footer__icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__link"
            href="https://telegram.org/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Telegram"
          >
            <svg class="footer__icon" width="20.4" height="15.87">
              <use href="./images/svg/symbol-defs.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Facebook"
          >
            <svg class="footer__icon" width="9.35" height="20.4">
              <use href="./images/svg/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__contact">
        Feel free to contact
        <a class="footer__phone" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>

  <div class="footer__copyright-container">
    <p class="footer__copyright">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
