<header class="container header">
  <div class="header__mobile">
    <a href="./"
      ><svg class="logo-mobile" width="" height="">
        <use href="./images/svg/symbol-defs.svg#logo-mobile"></use>
      </svg>
    </a>

    <button
      toggle
      class="burger burger-toggle"
      aria-label="open menu"
      aria-expanded="false"
    >
      <svg class="" width="32" height="32">
        <use class="burger" href="./images/svg/symbol-defs.svg#burger1"></use>
        <use
          class="cross"
          href="./images/svg/symbol-defs.svg#close-white"
        ></use>
      </svg>
    </button>
  </div>
  <ul class="header__list">
    <li>
      <a href="https://saveana.github.io/ice-cream/" class="list__text">Home</a>
    </li>
    <li><a href="#about" class="list__text">How it’s made?</a></li>
    <li><a href="#products" class="list__text">Our products</a></li>
    <li><a href="#contacts" class="list__text">Contact</a></li>
  </ul>

  <button class="header__button js-open-modal" data-modal="3" type="button">
    Buy now
    <svg class="" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#bird"></use>
    </svg>
  </button>
</header>
