<section class="hero">
  <h1 class="hero__title">ice cream made with passion</h1>
  <ul class="hero__link-list">
    <li class="hero__link"><a>Products</a></li>
    <li class="hero__link"><a>How it’s made?</a></li>
  </ul>
  <ul class="hero__benefits">
    <li>
      <p>16</p>
      <p>cafes</p>
    </li>
    <li>
      <p>23</p>
      <p>food trucks</p>
    </li>
  </ul>
  <p class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
  <img
    src="./images/hero/hero-fun-ice-cream/mobile/mobile_177.jpg"
    alt="ice-cream plate"
  />
  <img
    src="./images/hero/hero-lot-ice-cream/tablet/lotoficecream_152.jpg"
    alt="ice-cream cup"
  />
</section>
