<section class="hero">
  <div class="container hero__container">
    <div class="hero__flex-box">
      <div class="hero__main-block">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title-part">passion</span>
        </h1>
        <ul class="hero__link-list">
          <li><a class="hero__products-link">Products</a></li>
          <li><a class="hero__made-link">How it’s made?</a></li>
        </ul>
      </div>
      <ul class="hero__benefits">
        <li class="hero__benefits-item">
          <p class="hero__benefits-numbers">16</p>
          <p class="hero__benefits-name">cafes</p>
        </li>
        <li class="hero__benefits-item">
          <p class="hero__benefits-numbers">23</p>
          <p class="hero__benefits-name">food trucks</p>
        </li>
      </ul>
    </div>

    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et

      <svg class="hero__text-arrow" width="40" height="16">
        <use href="./images/svg/symbol-defs.svg#arrow"></use>
      </svg>
    </p>

    <img
      srcset="
        ./images/hero/hero-fun-ice-cream/mobile/mobile_177.png  177w,
        ./images/hero/hero-fun-ice-cream/tablet/tablet@1x.png   268w,
        ./images/hero/hero-fun-ice-cream/desktop/desktop@1x.png 456w,
        ./images/hero/hero-fun-ice-cream/mobile/mobile_354.png  354w,
        ./images/hero/hero-fun-ice-cream/tablet/tablet@2x.png   536w,
        ./images/hero/hero-fun-ice-cream/desktop/desktop@2x.png 912w
      "
      sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 320px) 177px, 100vw"
      class="hero__fun-ice"
      src="./images/hero/hero-fun-ice-cream/mobile/mobile_177.png"
      alt="ice-cream plate"
    />
    <img
      srcset="
        ./images/hero/hero-lot-ice-cream/tablet/tablet@1x.png   152w,
        ./images/hero/hero-lot-ice-cream/desktop/desktop@1x.png 225w,
        ./images/hero/hero-lot-ice-cream/tablet/tablet@2x.png   304w,
        ./images/hero/hero-lot-ice-cream/desktop/desktop@2x.png 450w
      "
      sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
      class="hero__lot-ice"
      src="./images/hero/hero-lot-ice-cream/tablet/tablet@1x.png"
      alt="ice-cream cup"
    />
  </div>
</section>
