<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="hero__link-list">
      <li><a class="hero__products-link">Products</a></li>
      <li><a class="hero__made-link">How it’s made?</a></li>
    </ul>
    <!-- <ul class="hero__benefits">
        <li>
          <p>16</p>
          <p>cafes</p>
        </li>
        <li>
          <p>23</p>
          <p>food trucks</p>
        </li>
      </ul> -->
    <!-- <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p> -->
    <img
      class="hero__fun-ice"
      src="./images/hero/hero-fun-ice-cream/mobile/mobile_177.png"
      alt="ice-cream plate"
    />
    <!-- <img
        src="./images/hero/hero-lot-ice-cream/tablet/lotoficecream_152.jpg"
        alt="ice-cream cup"
      /> -->
  </div>
</section>
