<div class="modal modal-about__window" data-modal="4">
    <button class="modal-window__close js-modal-close" type="button">
        <svg class="modal-window__svg" width="24" height="24">
            <use href="./images/svg/symbol-defs.svg#close-black"></use>
        </svg>
    </button>

    <h2 class="modal-about__title">How it's made?</h2>
    <iframe class="modal-about__video" width="448" height="205" src="https://www.youtube.com/embed/8WEMZ86Eho8"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="modal-about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem
        ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
</div>

<!-- backdrop -->
<div class="overlay js-overlay-modal"></div>