<div class="modal locations-modal" data-modal="1">
  <button class="modal__cross js-modal-close" type="button">
    <svg class="modal__svg" width="24" height="24">
      <use href="./images/svg/symbol-defs.svg#close-black"></use>
    </svg>
  </button>

  <h2 class="modal__title">Our Locations</h2>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.5586075296!2d34.487198475042874!3d49.60213457666439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1669304966719!5m2!1sru!2sua"
    width="448"
    height="260"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="modal-location__map"
  ></iframe>

  <a
    class="button btn-locations"
    href="https://goo.gl/maps/Woap4gPAKNbALkccA"
    rel="nofollow noopener noreferrer"
    target="_blank"
    >Open map</a
  >
</div>

<div class="modal franchise-modal" data-modal="2">
  <button class="modal__cross js-modal-close" type="button">
    <svg class="modal__svg" width="24" height="24">
      <use href="./images/svg/symbol-defs.svg#close-black"></use>
    </svg>
  </button>

  <h2 class="modal__title">
    Thank you for your interest in owning an Ice Cream shop
  </h2>
  <p class="modal__text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <form>
    <ul class="franchise__form">
      <li class="modal-form__item">
        <input
          class="modal-form__input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder=" "
        />
        <label class="modal-form__label" for="user-name">Name</label>
      </li>
      <li class="modal-form__item">
        <input
          class="modal-form__input"
          type="tel"
          name="user-tel"
          id="user-tel"
          placeholder=" "
        />
        <label class="modal-form__label" for="user-tel">Phone</label>
      </li>
      <li class="modal-form__item">
        <input
          class="modal-form__input"
          type="email"
          name="user-mail"
          id="user-mail"
          placeholder=" "
        />
        <label class="modal-form__label" for="user-mail">Email</label>
      </li>
      <li class="modal-form__item">
        <textarea
          class="modal-form__textarea"
          name="user-comment"
          id="user-comment"
          cols="3"
          rows="4"
          placeholder=" "
        ></textarea>
        <label class="modal-form__label" for="comment">Comment</label>
      </li>
    </ul>
    <button class="button btn-franchise" type="submit">Submit</button>
  </form>
</div>

<!-- backdrop -->
<div class="overlay js-overlay-modal"></div>
