<div data-menu class="nav-menu">
  <div class="upper">
    <a href="./"
      ><svg class="logo-mobile" width="48" height="44">
        <use href="./images/svg/symbol-defs.svg#logo-mobile"></use>
      </svg>
    </a>
    <button
      data-tablet-cross
      class="burger-toggle"
      aria-label="open menu"
      aria-expanded="false"
    >
      <svg class="burger-toggle__icon" width="32" height="32">
        <use
          class="tablet-cross"
          href="./images/svg/symbol-defs.svg#close-white"
        ></use>
      </svg>
    </button>
  </div>
  <ul class="navigation">
    <li class="navigation__item">
      <a class="navigation__link" href="index.html">Home</a>
    </li>
    <li class="navigation__item">
      <a data-nav-link1 class="navigation__link" href="#about"
        >How it’s made?</a
      >
    </li>
    <li class="navigation__item">
      <a data-nav-link2 class="navigation__link" href="#products"
        >Our products</a
      >
    </li>
    <li class="navigation__item">
      <a data-nav-link3 class="navigation__link" href="#contacts">Contact</a>
    </li>
  </ul>
  <button data-buy-button data-modal="3" class="nav-button js-open-modal">
    Buy now
    <svg class="nav-button__icon" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#bird"></use>
    </svg>
  </button>
</div>
