<div class="nav-menu">
  <ul class="navigation">
    <li class="navigation__item">
      <a class="navigation__link" href="#">Home</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">How it’s made?</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Our products</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Contact</a>
    </li>
  </ul>
  <button class="nav-button">
    Buy now
    <svg class="nav-button__icon" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#bird"></use>
    </svg>
  </button>
</div>
