<section class="section section__products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products">
      <li class="products__item">
        <div class="products__circle products__circle---green"></div>
        <h2 class="products__name">ice cream</h2>
        <p class="products__info">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products__btn"></button>
      </li>
      <li class="products__item">
        <div class="products__circle products__circle--yellow"></div>
        <h2 class="products__name">ice coffee</h2>
        <p class="products__info">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products__btn"></button>
      </li>
      <li class="products__item">
        <div class="products__circle products__circle--coral"></div>
        <h2 class="products__name">milkshakes</h2>
        <p class="products__info">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products__btn"></button>
      </li>
    </ul>
  </div>
</section>
