<div class="products-modal__window">
    <button class="products-modal__close" type="button"><svg width="20" height="20">
      <use href="./images/svg/symbol-defs.svg#close-black"></use>
    </svg></button>
    <p class="products-modal__title">Buy now</p>
    <ul class="products-modal">
      <li class="products-modal__item products-modal__item--green">
        <div class="products-modal__circle products-modal_circle--green"></div>
        <h3 class="products-modal__name">ice cream</h3>
      </li>
      <li class="products-modal__item products-modal__item--yellow">
        <div class="products-modal__circle products-modal_circle--yellow"></div>
        <h3 class="products-modal__name">ice coffee</h3>
      </li>
      <li class="products-modal__item products-modal__item--coral">
        <div class="products-modal__circle products-modal_circle--coral"></div>
        <h3 class="products-modal__name">milkshakes</h3>
      </li>
    </ul>
    <form action="" class="products-form">
      <ul class="products-form__list">
        <li class="products-form__item">
          <label class="products-form__label" for="name">Name</label>
          <input class="products-form__input" type="text" id="name" name="name" placeholder=" "/>
        </li>
        <li class="products-form__item">
          <label class="products-form__label" for="phone">Phone</label>
          <input class="products-form__input" type="tel" id="phone" name="phone" placeholder=" "/>
        </li>
        <li class="products-form__item">
          <label class="products-form__label" for="comment">Comment</label>
          <input class="products-form__input products-form__input--comment" type="text" id="comment" name="comment" placeholder=" "/>
        </li>
      </ul>
      <button type="button" class="products-form__btn">Submit</button>
    </form>
</div>
