.background {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: getColor(primary-white);
  @media screen and (max-width: 767.5px) {
    background-image: url('../images/background/mobile/ice-cream-320.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/background/mobile/ice-cream-320@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/background/tablet/ice-cream-768.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/background/tablet/ice-cream-768@2x.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/background/desktop/ice-cream-1200.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/background/desktop/ice-cream-1200@2x.png');
    }
  }
}
