.contacts {
  //   position: relative;
  //   top: -360px;
  //
  @media screen and (max-width: 7670px) {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.contacts__list {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.contacts__item {
  background-color: getColor(primary-light);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;

  @media screen and (min-width: 768px) {
    padding: 40px 24px;
    flex-basis: 224px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
    flex-basis: 368px;
    background-color: getColor(primary-white);
  }
}

.contacts__agency {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  background: getColor(accent);
  border-radius: 4px;
  padding: 4px 22px;
  display: inline-block;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(22 / 16);
    padding: 4px 13px;
  }

  @media screen and (min-width: 1200px) {
    padding: 4px 14px;
  }
}

.contacts__agency--padding {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 4px 10px;
  }
}

.contacts__city {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts__address {
  position: relative;
  margin-bottom: 48px;

  &::after {
    content: '';
    display: inline-block;
    left: 0;
    bottom: -24px;
    position: absolute;
    width: 216px;
    height: 1px;
    background-color: #e1e1e1;

    @media screen and (min-width: 768px) {
      bottom: -32px;
      width: 176px;
    }

    @media screen and (min-width: 1200px) {
      width: 288px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.address__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  color: getColor('coral');
  font-style: normal;
  flex-basis: 216px;

  &:hover,
  &:focus {
    text-decoration-line: underline;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.address__link--width {
  @media screen and (max-width: 767px) {
    max-width: 190px;
  }

  @media screen and (min-width: 768px) {
    max-width: 160px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 262px;
  }
}

.work-time__day,
.work-time__time {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.work-time__time {
  color: getColor('grey');
  text-transform: uppercase;
}

.work-time__list {
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &::after {
    content: '';
    display: inline-block;
    left: 0;
    bottom: -24px;
    position: absolute;
    width: 216px;
    height: 1px;
    background-color: #e1e1e1;

    @media screen and (min-width: 768px) {
      bottom: -32px;
      width: 176px;
    }

    @media screen and (min-width: 1200px) {
      width: 288px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.communication__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.communication__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(21 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.button__locations {
  background-color: getColor(accent);
  border-color: transparent;

  padding: 10px 38px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  transition: 250ms linear;

  &:hover,
  &:focus {
    background-color: getColor(active-green);
  }
}

.button__franchise {
  padding: 10px 53px;
  background-color: transparent;
  border: getBorder(button-default);

  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;

  color: #000000;

  transition: 250ms linear;

  &:hover,
  &:focus {
    border-color: getColor(active-green);
  }
}

.button {
  border-radius: 10px;
}

.button__list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.button__item {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
