html,
body {
    position: relative;
    height: 100%;
}
.customers__swiper {
    padding-top: 178px;
    padding-bottom: 393px;

    @media screen and (min-width:768px) {
        padding-top: 283px;
        padding-bottom: 379px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 464px;
        padding-bottom: 228px;
    }
}

.swiper__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.swiper-content {
    height: 478px;
        @media screen and (min-width:768px) {
        height: 388px;
    }
    @media screen and (min-width:1200px) {
        height: 393px;
    }
}

.swiper {
    width: auto;
    height: auto;
}

.swiper-image {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    width: 85px;
    height: 85px;
}

.swiper-text {
    width: 280px;
    height: 256px;
    padding: 35px 39px;

    background: getBgColor(main-green);
    border-radius: 10px;

    font-size: 12px;

    line-height: calc(31 / 12);
    letter-spacing: 0.04em;

    text-align: center;
    color: getColor(primary-white);

    @media screen and (min-width:768px) {
        width: 705px;
        height: 138px;

        padding: 28px 80px;
        border-radius: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(26 / 14);
    }

    @media screen and (min-width:1200px) {
        width: 968px;
        height: 138px;
        padding: 43px 109px;
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}

.swiper-location {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);

    text-align: center;

    color: getColor(primary-dark);

    @media screen and (min-width:768px) {
        font-size: 16px;
        line-height: calc(30 / 16);
    }

}
.swiper .swiper-pagination {
    bottom:0;
    }
.swiper-pagination-bullet {

    width: 12px;
    height: 12px;
    background-color: getBgColor(pagination);
    opacity: 1;
    border: none;
    gap: 18px;
}

.swiper-pagination-bullet-active {
    background-color: getBgColor(main-green);
}