html,
body {
    position: relative;
    height: 100%;
}

.customers__swiper {
    padding-top: 178px;
    padding-bottom: 393px;
@media screen and (min-width:768px) {
    padding-top: 283px;
    padding-bottom: 379px;
}
@media screen and (min-width:1200px) {
    padding-top: 464px;
    padding-bottom: 228px;
}
}

.swiper-wrapper {
    margin-bottom:12px;
    height: 466px;
    @media screen and (min-width:768px) {
        height: 356px;
    }
    @media screen and (min-width:1200px) {
        height: 361px;
    }
}
.swiper {
    width: auto;
    height: auto;
}

.swiper-slide {
   display: flex;
   flex-direction: column;
   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 32px;
}

.swiper-image {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    width: 85px;
    height: 85px;
}

.swiper-text {
    width: 280px;
    height: 256px;
    padding: 35px 39px;

    background:getBgColor(main-green);
    border-radius: 10px;

    font-size: 12px;

    line-height: calc(31 / 12);
    letter-spacing: 0.04em;
   
    text-align: center;
    color: getColor(primary-white);

    @media screen and (min-width:768px) {
        width: 705px;
        height: 138px;

        padding: 28px 80px;
        border-radius: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(26 / 14);
    }

    @media screen and (min-width:1200px) {
        width: 968px;
        height: 138px;
        padding: 43px 109px;
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}
.swiper-location {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
       
    text-align: center;
    
    color:getColor(primary-dark);

    @media screen and (min-width:768px) {
        font-size: 16px;
        line-height: calc(30 / 16);
    }
   
}


.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color:getBgColor(pagination);
    opacity: 1;
    border:none;
    gap: 18px;
}
.swiper-pagination-bullet-active {
    background-color: getBgColor(main-green);
}