.footer {
   
   padding-top: 30px;
   padding-bottom: 20px;
   font-weight: 700;
}

.footer__text {
   text-transform: uppercase;
   color: getColor(primary-light);

   @media screen and (min-width: 768px) {
      width: 352px;
     
    }
    @media screen and (min-width: 1200px) {
      
    }
}

.footer__uppertitle {
   margin-bottom: 16px;
   font-size: 18px;
   line-height: calc(22 / 18);
}

.footer__undertitle {
   margin-bottom: 60px;
   font-size: 34px;
   line-height: calc(41 / 34);
   letter-spacing: 0.04em;
}

.footer__blocks {
   
   @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
     
    }
    @media screen and (min-width: 1200px) {
      
    }
   
   
}

.footer__second-block {
   @media screen and (min-width: 768px) {
      width: 285px;
     
    }
    @media screen and (min-width: 1200px) {
      
    }
}

.footer__list {
   margin-bottom: 20px;
   display: flex;
   justify-content: flex-end;
   gap: 20px;
}

.footer__item {}

.footer__link {}

.footer__icon {
   fill: getColor(primary-white);
}

.footer__contact {
   margin-bottom: 40px;

   font-size: 12px;
   line-height: calc(22 / 12);
   text-align: right;
}

.footer__phone {
   color: getColor(primary-light);
}


.footer__copyright-container {
   border-top: 1px solid #E1E1E1;
   width: 100%;
}


.footer__copyright {
   padding-top: 20px;
   margin: auto;
   width: 150px;
   font-size: 14px;
   line-height: calc(21 / 14);
   text-align: center;
   color: getColor(copyright);
   

}