.header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.burger {
    fill: getColor(primary-white);
        padding-left: 0;
        padding-right: 0;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
}

.header__button {
        font-weight: 600;
        font-size: 14px;
        line-height: calc(17 / 14);
        padding: 12px 36px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #F8D24E;
        width: 152px;
        height: 42px;
        border-radius: 10px;
        border: transparent;

        @media screen and (max-width:767px) {
            display: none;
        }
}

