.section__products {
  background-image: url(../images/background/mobile/background_mobile_885.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background/mobile/background_mobile_1770.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/background/tablet/background_tablet_963.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/tablet/background_tablet_1926.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/background/desktop/background_desktop_1300.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/desktop/background_desktop_2600.png);
    }
  }
}

.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.products__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 303px;
  }
}

.products__name {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.products__info {
  font-size: 14px;
  line-height: calc(25 / 14);
  letter-spacing: 0.04em;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  // width: 100%;
  height: 420px;
  padding: 123px 40px 16px 40px;
  border-radius: 24px;
  margin-bottom: 168px;
  background-color: getBgColor(prod-green);
  box-shadow: getShadow(prod-card);
  transition: transform getAnim(time) getAnim(func),
    box-shadow getAnim(time) getAnim(func);
  &:nth-child(2) {
    background-color: getBgColor(prod-yellow);
  }
  &:last-child {
    background-color: getColor('coral');
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 3);
    height: 428px;
    margin-bottom: 0;
    padding: 108px 26px 12px 26px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 58px) / 3);
    height: 536px;
    padding: 165px 64px 60px 64px;
    &:hover {
      transform: scale(1.05);
      box-shadow: rgb(65 65 65 / 50%) 3px 3px 20px,
        rgb(65 65 65 / 50%) -3px -3px 20px;
    }
  }
}

.products__circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -60%;
  }
}

.products__circle---green {
  background: getBgColor(green-circle);
  box-shadow: getShadow(prod-green);

  &::before {
    content: '';
    position: absolute;
    top: -11;
    left: 0;
    background-image: url(../images/products/tablet-mobile/1/1_200.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet-mobile/1/1_400.png);
    }
    @media screen and (min-width: 768px) {
      top: -12px;
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/desktop/1/1_302.png);
      top: -16px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/desktop/1/1_604.png);
      }
    }
  }
}

.products__circle--yellow {
  background: getBgColor(yellow-circle);
  box-shadow: getShadow(prod-yellow);
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  &::before {
    content: '';
    position: absolute;
    top: -11;
    left: 0;
    background-image: url(../images/products/tablet-mobile/2/2_200.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet-mobile/2/2_400.png);
    }
    @media screen and (min-width: 768px) {
      top: -12px;
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/desktop/2/2_302.png);
      top: -16px;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/desktop/2/2_604.png);
      }
    }
  }
}

.products__circle--coral {
  background: getBgColor(coral-cirle);
  box-shadow: getShadow(prod-coral);
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  &::before {
    content: '';
    position: absolute;
    top: -11;
    left: 0;
    background-image: url(../images/products/tablet-mobile/3/3_200.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet-mobile/3/3_400.png);
    }

    @media screen and (min-width: 768px) {
      top: -12px;
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/desktop/3/3_302.png);
      top: -16px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/desktop/3/3_604.png);
      }
    }
  }
}

.products__btn {
  border: none;
  background-color: inherit;
  margin-top: auto;
}

.products {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}
