.products-modal__window {
  width: 280px;
  height: 991px;
  padding: 28px 28px 29px 28px;
  background-color: getColor(primary-light);
  border: 2px solid getColor(accent);
  border-radius: 10px;
  overflow-y: scroll;
  top: 0;
  transform: translateX(-50%);
  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;
    padding: 32px 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    overflow: hidden;
  }
}
.products-modal {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.products-modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 83px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 103px;
  }
}

.products-modal__item {
  position: relative;
  width: 132px;
  height: 136px;
  padding-top: 96px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 82px;
  &:first-child {
    background-color: transparent;
  }
  &:last-child {
    background-color: transparent;
    margin-bottom: 0;
  }

  &--green {
    border: getBorder(prod-green);
  }

  &--yellow {
    border: getBorder(prod-yellow);
    background-color: getColor(prod-yellow);
  }

  &--coral {
    border: getBorder(prod-coral);
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.products-modal__circle {
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.products-modal_circle--green {
  background: getBgColor(green-circle);
  box-shadow: getShadow(prod-green);

  &::before {
    content: '';
    position: absolute;
    top: -7;
    left: 0;
    background-image: url(../images/products/tablet-mobile/1/1_200.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 132px;
    height: 132px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet-mobile/1/1_400.png);
    }
  }
}

.products-modal_circle--coral {
  background: getBgColor(coral-circle);
  box-shadow: getShadow(prod-coral);
  &::before {
    content: '';
    position: absolute;
    top: -7;
    left: 0;
    background-image: url(../images/products/tablet-mobile/3/3_200.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 132px;
    height: 132px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet-mobile/3/3_400.png);
    }
  }
}

.products-modal_circle--yellow {
  background: getBgColor(yellow-circle);
  box-shadow: getShadow(prod-yellow);
  &::before {
    content: '';
    position: absolute;
    top: -7;
    left: 0;
    background-image: url(../images/products/tablet-mobile/2/2_200.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 132px;
    height: 132px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/tablet-mobile/2/2_400.png);
    }
  }
}

.products-modal__name {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-form__input {
  position: relative;
  background: rgba(248, 210, 78, 0.1);
  border: getBorder(menu-input);
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  height: 32px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.4;
  color: inherit;
  resize: none;
  &--comment {
    height: 65px;
    padding-top: 8px;
  }
  &:focus {
    border-color: getColor(accent);
    outline: none;
  }
  &:focus + .products-form__label {
    display: none;
  }

  &:not(:placeholder-shown)  .products-form__label {
    display: none;
  }

  @media screen and (min-width: 768px) {
    height: 42px;
    padding: 11px 16px;
    width: 368px;
    &--comment {
      height: 84px;
    }
  }
}

.products-form__item {
  position: relative;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}
.products-form__label {
  position: absolute;
  top: 8;
  left: 12;
  font-size: 12px;
  line-height: 1.4;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.products-form__list {
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.products-form__btn {
  font-family: inherit;
  width: 114px;
  height: 42px;
  background: getColor(accent);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  transition: background-color getAnim(time) getAnim(func);
  &:hover {
    background-color: getColor(active-green);
  }
  &:focus {
    background-color: getColor(active-green);
    color: getColor(primary-light);
  }
  @media screen and (min-width: 768px) {
    width: 121px;
    font-size: 14px;
  }
}

.products-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  top: 12;
  right: 12;
  padding: 0;
}

.products-modal__icon-close {
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
